# Systemd unit file for tomcat instances.
#
# To create clones of this service:
# 0. systemctl enable tomcat_bench-nojsvc@name.service
# 1. create catalina.base directory structure in
#    /var/lib/tomcats/name
# 2. set catalina base inside /etc/sysconfig/tomcat_bench@<name>

[Unit]
Description=Apache Tomcat 8 Web Application Container (No Jsvc)
After=syslog.target network.target

[Service]
Type=simple
SuccessExitStatus=143

Environment="NAME=%I"

Environment=CATALINA_HOME=/opt/tomcat_bench
Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC -Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'
Environment=TOMCAT_USER=bench

EnvironmentFile=-/etc/sysconfig/tomcat_bench@%I

ExecStart=/opt/tomcat_bench/bin/catalina.sh run

User=bench
Group=bench
UMask=0007

[Install]
WantedBy=multi-user.target
