[Unit]
Description=Apache Tomcat Bench Web Application Container
After=syslog.target network.target

[Service]
Type=simple

Environment=JAVA_HOME=/usr/lib/jvm/java
Environment=CATALINA_PID=/opt/tomcat_bench/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat_bench
Environment=CATALINA_BASE=/opt/tomcat_bench
Environment=JSVC=/usr/bin/jsvc
Environment=TOMCAT_USER=bench
EnvironmentFile=-/etc/sysconfig/tomcat_bench

ExecStart=/opt/tomcat_bench/bin/daemon.sh run
ExecStop=/opt/tomcat_bench/bin/daemon.sh stop

User=bench
Group=bench
UMask=0007

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
